<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema.DAL.Properties.Settings.EstrelaDaMorteConnectionString"
            connectionString="Data Source=DESKTOP-VDLI2RL\IVOSERVER;Initial Catalog=EstrelaDaMorte;Persist Security Info=True;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>